.snap-ghost {
	display: none;
	background: #999;
	opacity: 0;
	top: 0px;
	left: 0px;
	z-index: 20;
	position: absolute;
	margin: 0;
	padding: 0;

	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}


[drag-area] {
  position: absolute;
  background-color: transparent;
  min-height: 10px;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  height: 20px;
  cursor: move;
}
